
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

/* Container for Table */
.container {
    width: 200px;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

/* Table Styling */
table {
    width: 800px;
    border-collapse: collapse, black;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Table Header */
th {
    background-color: #007BFF;
    color: white;
    padding: 12px;
    text-transform: uppercase;
}

/* Table Rows */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}




/* Action Links */
td a {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
}

/* Edit Button */
td a[href*='update'] {
    background-color: #28a745;
}

/* Delete Button */
td a[href*='delete'] {
    background-color: #dc3545;
}

td a:hover {
    opacity: 0.8;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(71, 132, 255);
}
